<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{24,125}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{24,125}}</string>
                <key>sourceSize</key>
                <string>{30,125}</string>
            </dict>
            <key>hook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,123}}</string>
                <key>sourceSize</key>
                <string>{30,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hook.png</string>
            <key>size</key>
            <string>{32,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa591cd654b2e3afc5f093f5c3dda3a3:46fd3e3fc7d71a95b5f05f991cc24e3e:a333d44bfe540bb6219d5d425195e6a8$</string>
            <key>textureFileName</key>
            <string>hook.png</string>
        </dict>
    </dict>
</plist>
