<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{48,248}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{48,248}}</string>
                <key>sourceSize</key>
                <string>{60,250}</string>
            </dict>
            <key>hook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,244}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{54,244}}</string>
                <key>sourceSize</key>
                <string>{60,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hook-ipad.png</string>
            <key>size</key>
            <string>{58,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3115ab2a26886b2839c7e3e463794ed7:e8c99cf4e08515900f8e3bbf824d7917:cc96720fee2a600e5d87dd66702086cc$</string>
            <key>textureFileName</key>
            <string>hook-ipad.png</string>
        </dict>
    </dict>
</plist>
