<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hook1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{96,494}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{96,494}}</string>
                <key>sourceSize</key>
                <string>{120,500}</string>
            </dict>
            <key>hook2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,488}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{110,488}}</string>
                <key>sourceSize</key>
                <string>{120,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hook-ipadhd.png</string>
            <key>size</key>
            <string>{114,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4750475811cb562e21e650f6e19be810:cbfe6b2550adc8c9253dea7a9fbb9e21:2a0da94d9fa99acec6807b7826c1ca62$</string>
            <key>textureFileName</key>
            <string>hook-ipadhd.png</string>
        </dict>
    </dict>
</plist>
